name: Weekly Database Update

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * 1"
#   push:
#     branches:
#       - main

jobs:
  update-files:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Install poppler-utils (pdftotext command)
        run: |
          sudo apt-get update
          sudo apt-get install -y poppler-utils

      - name: Update database file
        run: |
          ./42pdf update

      - name: Commit and Push Changes
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          if [ ! -z "$(git status --porcelain)" ]; then
            git config user.name "github-actions[bot]"
            git config user.email "github-actions[bot]@users.noreply.github.com"
            git add .
            git commit -m "Manual update: $(date)"
            git push origin main
          else
            echo Nothing to commit
          fi
